{
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "extends": ["@whereby/eslint-config/browser", "prettier"],
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "plugins": ["mocha-no-only", "prettier"],
    "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "prettier/prettier": "error"
    }
}
