{
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true,
        "node": true
    },
    "extends": ["./config/eslint/browser", "prettier"],
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "plugins": ["prettier", "jest"],
    "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "prettier/prettier": "error"
    }
}
