*.env	
*.log	

.DS_Store

dist/	
node_modules/
storybook-static/	
yalc.lock	
.yalc/	
/test-results/	
/playwright-report/	
/playwright/.cache/

.turbo

.env
.env.local
.env.production

yarn-error.log

test-report/

.cache
.expo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
