{
    "env": {
        "mocha": true
    },
    "globals": {
        "expect": false,
        "sinon": false,
        "global": false
    },
    "plugins": ["eslint-plugin-mocha-no-only"],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "mocha-no-only/mocha-no-only": 2
    }
}
